
.Dashboard {
    text-align: center;
    margin-top: 10rem;
  }
.heading-pimary{
    background-image: linear-gradient( #7ed56f,#28b485);
    display:inline-block;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color:transparent;
    margin: 10rem 0 ;
    letter-spacing: 1px;
    text-shadow: 0 .1rem .5rem rgba(0,0,0,.2);
    transition: all .2s;
    margin-top:1rem;
    animation: moveInLeft 1s ease-in;
    backface-visibility: hidden;
  }
  
  .heading-pimary:hover{
    transform: skewX(2deg) skewY(5deg) scale(1.05);
    
  }
  @media(max-width:60rem){
    body{
      font-size: 1rem;
    }
    
  }